* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 1024px;
    height: 800px;
    overflow: hidden;
    margin: 0 auto;
}
.page-container {
    display: flex;
    width: 3072px;
    position: relative;
    left: 0px;
    top: 0;
    transition: all 1s;
}
.page {
    width: 1024px;
    height: 768px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
}
#gameCanvas {
    border: 1px solid #ddd;
}
.game-container {
    display: flex;
    position: relative;
}
.info-box {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
}
.row-box {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-bottom: 10px;
}
.next-block {
    border: 1px solid #ddd;
    height: 110px;
    width: 110px;
}
.score-box {
    border: 1px solid #ddd;
    height: 110px;
    width: 150px;
    font-size: 25px;
    display: flex;
    justify-content: center;
}
#btnStart {
    border: 1px solid rgb(17, 64, 192);
    background-color: rgb(25,72,199);
    color: #fff;
    padding: 10px 16px;
    border-radius: 5px;
    font-size: 20px;
}
#gameOverBox {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    transition: all 0.5s;
}
#gameOverBox.on {
    opacity: 1;
}

#gameOverBox > h2 {
    font-size: 40px;
}
.btn {
    border: 1px solid transparent;
    transition:  all 0.8s;
    padding: 8px 12px;
    outline: none;
    border-radius: 5px;
}
#btnStart:disabled {
    background-color: rgb(129,129,129);
    color: #fff;
}

.btn-blue {
    border-color: rgb(25,114,187);
    background-color: rgb(41,124,192);
    color: #fff;
}
.btn-blue:hover {
    background-color: rgb(19,88,145);
}
.btn-red {
    border-color: rgb(197,22,22);
    background-color: rgb(204,41,41);
    color: #fff;
}
.btn-red:hover {
    background-color: rgb(155,21,21);
}
.form-control {
    padding: 8px 12px;
    border: 1px solid #ddd;
    outline: none;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
}
.form {
    display: flex;
    flex-direction: column;
    width: 500px;
}
#loginPage {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;
}

.mb-20 {
    margin-bottom: 20px;
}

#lobbyPage {
    display: grid;
    grid-template-rows: 60px 1fr 60px;
}
#roomListBox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 70px;
    gap: 20px;
}
.room {
    width: 100%;
    height: 100%;
    box-shadow:  0 0 3px 3px rgba(0,0,0,0.3);
    border-radius: 5px;
    padding: 10px;
    transition: all 0.5s;
    background-color: #fff;
    color: #000;
}
.room:hover {
    background-color: #000;
    color: #fff;
}
#otherGame {
    border:1px solid #ddd;
    margin-top: 20px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#otherCanvas {
    border: 1px solid #ddd;
}
.menu-bar {
    padding: 30px;
    margin: 20px 0;
    border: 1px solid #ddd;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
}
