#gameCanvas {
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.3);
    
}
#gameContainer {
    width:100%;
    display: flex;
    justify-content: center;
}

.btn {
    padding: 8px 12px;
    border:none;
    border-radius: 2px;
    background-color: rgb(98, 241, 241);
    color: #fff;
    margin-top: 10px;
    transition: all 0.5s;
}

.btn:hover {
    background-color: rgb(98, 101, 255);
}