<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>채팅페이지</title>
        <link rel="stylesheet" href="../app.css">
        <script src="../socket.io/socket.io.js"></script>
    </head>  
    <body>
        <div id="chatBody">
            <div class="inner-box">
                <div class="login-box">
                    <h1>로그인</h1>
                    <div class="form-box">
                        <input type="text" class="form-control" id="userId" placeholder="채팅 아이디를 입력하세요">
                        <button id="btnLogin">입장</button>
                    </div>
                </div>
            </div>
            <div class="inner-box">
                
            </div>
        </div>
    </body>
</html>